/* ProductCard.css */
.productCard {
  width: 15rem;
  margin: 0.75rem;
  transition: all 0.5s;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Default box shadow */
}

.productCard:hover img {
  transform: scale(1.1); /* Scale the image on hover */
}

.productCard:hover {
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2); /* Adjusted box shadow on hover */
}
